*{
  margin:10px;
}
h2{
  font-size:40px;
}
h1{
  font-size:50px;
}
p{
  font-size: 30px;
  text-align: justify;
  font-weight: light;
}
img{
  width:700px;
  height:1000px;
  object-position: center
}
