*{
  margin:10px;
}
h2{
  font-size:35px;
  color:#faf8f1;
  background-color:#c58940;
}
h1{
  font-size:40px;
  color: whitesmoke;
  background-color:darkseagreen;
}
p{
  font-size: 30px;
  text-align: justify;
  font-weight: light;
}
img{
  width:600px;
  height:1000px;
  object-position: 50% 50%;
}
a{
  font-size:25px;
  font-weight:bold;
  color:white;
  text-decoration: none;
  background-color:green;
  padding:5px;
}
