*{
  margin:10px;
}
h2{
  font-size:35px;
  color:#faf8f1;
  background-color:#c58940;
}
h1{
  font-size:40px;
  color: whitesmoke;
  background-color:darkseagreen;
}
p{
  font-size: 30px;
  text-align: justify;
  font-weight: light;
}
img{
  border: 2px solid #90EE90;
  border-radius: 50%;
  margin:auto;
  display: block;
  height:50vh;
}
a{
  font-size:25px;
  font-weight:bold;
  color:white;
  text-decoration: none;
  background-color:green;
  padding:5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
main {
  flex-grow: 1; /* Allow main content to grow and fill available space */
}
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
  width: 100%;
}
footer p {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
  width: 100%;
}
