*{
  margin:10px;
}
h2{
  font-size:35px;
}
h1{
  font-size:40px;
}
p{
  font-size: 30px;
  text-align: justify;
  font-weight: light;
}
img{
  width:600px;
  height:1000px;
  object-position: 50% 50%;
}
